body {
    background-image: url("../images/curtains_resized.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.wrapper {
    max-width: 1275px;
    margin: 0 auto;
}

.playArea {
    position: relative;
    top: 0;
	left: 0;
    border: 10px;
    /* border-color: rgb(137, 7, 243); */
    /* border-style: solid; */
}

#crystalBall {
    width: 100%;
}

/* gem size */
.gems {
    width: 17%;
    height: 24%;
}

/*placement in the crystal ball */
.gemBox {
    border: 5px;
    /* border-color: black; */
    /* border-style: solid; */
    width: 70%;
    height: 40%;
    position: absolute;
    top: 18%;
    left: 15%;
}

#blueGem {
    position: absolute;
    top: 5%;
    left: 3%;
}

#greenGem {
    position: absolute;
    top: 73%;
    left: 3%;
}

#pinkGem {
    position: absolute;
    top: 5%;
    left: 80%;
}

#redGem {
    position: absolute;
    top: 73%;
    left: 80%;
}

#targetNumber {
    position: absolute;
    top: -10%;
    left: 35%;
    color: rgba(185, 159, 7, 0.719);
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 250px;
}

.yourScore {
    position: absolute;
    top: 40%;
    left: 31%;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    font-size: 75px;
}

#currentScore {
    position: absolute;
    top: 51%;
    left: 40%;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    font-size: 150px;
    text-align: center;
}

/* wins box */
#winBox {
    border: 5px;
    /* border-color: blue; */
    /* border-style: solid; */
    width: 20%;
    height: 14%;
    position: absolute;
    top: 58%;
    left: 28%
}

#wins {
    position: absolute;
    top: 0%;
    left: 26%;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    font-size: 45px;
}

#totalWins {
    position: absolute;
    top: 20%;
    left: 37%;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    font-size: 45px;
}

/* Losses box */
#lossBox {
    border: 5px;
    /* border-color: green; */
    /* border-style: solid; */
    width: 20%;
    height: 14%;
    position: absolute;
    top: 58%;
    left: 48%
}

#losses {
    position: absolute;
    top: 0%;
    left: 22%;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    font-size: 45px;
}

#totalLosses {
    position: absolute;
    top: 20%;
    left: 40%;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    font-size: 45px;
}






